body   {  margin: 0;  padding: 0;  }
body * {  font-family: Arial, Helvetica, sans-serif;  }

@media (min-width: 768px) {
  #wd-kanbas .wd-main-content-offset {
    padding-left: 140px !important;
  }
}
.list-group.wd > .list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
}
.btn-secondary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #c7cdd1 !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: #fff !important;
}
.bg-secondary {
    --bs-secondary-rgb: 199, 205, 209;
}
.list-group-item {
    --bs-list-group-border-color: gray;
}
.wd-lesson {
    border-left: 3px solid green !important;
}


.full-width {
    width: 100%;
}
  
 
.table-cell {
    width: 20%; 
    text-align: right;
    vertical-align: top;
    padding-right: 10px;
}
  
  .table-input-cell {
    width: 80%; 
}

.assignment-editor {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
  }
  


  .submission-box {
    padding: 15px;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    background-color: #f9f9f9; 
    margin-top: 5px; 
  }
  
  .submission-options {
    padding: 10px 0;
  }

  .submission-options label {
    margin-left: 5px; 
  }

  .submission-options input[type="checkbox"] {
    margin-right: 10px;
  }

  .assign-box {
    padding: 15px;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    background-color: #f9f9f9; 
    margin-top: 5px; 
  }
  
  .input-with-tag {
    position: relative; 
    width: 100%;
  }
  

  
  .tag-inside-input {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    background-color: #e9ecef; 
    padding: 1px 10px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
  }
  
  .tag-inside-input span {
    font-size: 14px;
    color: #333;
  }
  
  .remove-tag-icon {
    margin-left: 5px;
    color: #888;
    font-size: 18px; 
    cursor: pointer; 
  }

  .date-range {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}

.date-range input[type="date"] {
    width: 48%; 
}

.date-input-container label {
    display: inline-block;
    width: 48%; 
    text-align: left; 
}

.assignment-description-box {
    border: 1px solid #e4e1e1;
    padding: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.6;
  }

  .assignment-description-box .text-danger {
    color: red;
  }

  .assignment-description-box ul {
    margin-left: 20px;
  }

  .wd-title {
    border: 1px solid black;  
  }

  .green-edit-icon {
    color: green;
  }

  
  
  .custom-date-input {
    background-color: #ffffff; 
    color: #333; 
    border: 1px solid #ccc; 
    padding: 5px;
    width: 100%; 
    box-sizing: border-box;
    position: relative;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #ffffff; 
    color: #605e5e;
    border: none;
    padding: 0;
    width: 34px;
    height:34px;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    cursor: pointer; 
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: brightness(0.9); 
  }

  .wd-assignment-link {
    color: #000 !important; 
    text-decoration: none !important; 
}

.select-wrapper {
    position: relative;
  }
  
  .select-icon {
    position: absolute;
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%);
    pointer-events: none; 
  }

  .label-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.label-input-container label {
    margin-bottom: 0.01rem; 
}


.custom-date-picker {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  font-size: 1rem;
  line-height: 100%;
  color: #495057;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.custom-date-picker-icon-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  background-color: #e9ecef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-date-picker-icon {
  color: #6c757d;
}

