.counter-btn {
    padding: 8px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px; 
  }
  
  .green-btn {
    background-color: green;
  }
  
  .red-btn {
    background-color: rgb(221, 23, 23);
  }
  

  
